services:
  test:
    build: .
    user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"
    volumes:
      - .:/app
    working_dir: /app
    command: tox run -e py39,py310,py311,py312 --workdir /tmp/tox

  shell:
    build: .
    user: "${DOCKER_UID:-1000}:${DOCKER_GID:-1000}"
    volumes:
      - .:/app
    working_dir: /app
    command: bash
    stdin_open: true
    tty: true
