[Unit]
Description=INDI Web Manager
After=multi-user.target

[Service]
Type=idle
User=jasem
ExecStart=/usr/bin/python /home/jasem/Projects/development/indiwebmanager/servermanager/drivermanager.py
ExecStartPost=/usr/bin/python /home/jasem/Projects/development/indiwebmanager/servermanager/autostart.py

[Install]
WantedBy=multi-user.target
